<div>
    <div  class="heading">Products for you</div>
    <div style="text-align: center;padding-top: 7px;">GET THE BEST PRODUCT  YOU CAN’T FIND ANYWHERE</div>
    <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's ..Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's .Lorem Ipsum is simply dummy tex</div>
    <table style="padding-top: 30px;">
        <tr>
            <td class="features" id="a"> 
                <tr>
                    <img src="assets/office-broadband.png" class="features_image">
                </tr>
                <tr class="features_heading">
                    Home/Office Broadband Wireless Router with IPS
                </tr>
                <tr class="features_subheading">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's .
                </tr>
                <tr>
                    <button id="button1">View details</button>
                </tr>
            </td>
            <td class="features" id="b">
                <tr>
                    <img src="assets/personal-firewall.png" class="features_image">
                </tr>
                <tr class="features_heading">
                    USB  Personal Firewall
                </tr>
                <tr class="features_subheading">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's .
                </tr>
                <tr>
                    <button id="button2">View details</button>
                </tr>
            </td>
            <td class="features" id="c">
                <tr>
                    <img src="assets/mobile-firewall.png" class="features_image">
                </tr>
                <tr class="features_heading">
                    Mobile Firewall with  Battery Case
                </tr>
                <tr class="features_subheading">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's .
                </tr>
                <tr>
                    <button id="button3">View details</button>
                </tr>
            </td>
        </tr>
    </table>
</div>