.secure{
    background: #E8ECF1;
    height: 450px;
}
.heading{
    font-size: 36px;
    font-weight: 700;
    padding-left: 10%;
    padding-top: 10%;
}
.description{
    width: 800px;
    color: #787878;
    padding-left: 10%;
    padding-top: 5%;
}
.more{
  background: #EFF2F5;
    box-shadow: 0px 17px 29px #000000;
    width: 76px;
    height: 30px;
    border-radius: 6pt;
    padding-top: 7px;
    margin-left: 10%;
    margin-top: 3%;
}