.image{
    height:40em; 
    background-size:cover;
    width:auto;
    background-image:url('src/assets/banner_light.png');
    background-position:50% 50%;
  }

  .top_icons{
    padding-right: 15px;
  }
  .banner_illustration{
    float: right;
    width: 315px;
    height: 200px;
  }
  .heading{
    font-size: 30px;
    color: white;
    padding-left: 35px;

  }
  .view_products{
    background: #F39203;
    border-radius: 6pt;
    box-shadow: 0px 17px 29px #000000;
    height: 46px;
    width: 95px;
    margin-top: 10px;
  }
  .cut{
    background: #1C5AD3;
    margin-left: 45%;
    border-radius: 2pt;
    box-shadow: 0px 0px 27px #174ECC;
    margin-top: 11px;
  }
  .key{
    text-align: center;
    font-size: xx-large;
  }
  .features_image{
    background: #1C5AD3;
    border-radius: 6pt;
    margin-left: 34px;
  }
.features_heading{
    font-size: 21px;
    font-weight: 600;
}
.features_subheading{
    font-size: 13px;
    color: grey;
}
.features:hover{
    background-color: green($color: #000000);
}
#a:hover{
    box-shadow: 0px 23px 54px #000000;
    border: #707070;
}
#b:hover{
    box-shadow: 0px 23px 54px #000000;
    border: #707070;
}
#c:hover{
    box-shadow: 0px 23px 54px #000000;
    border: #707070;
}